<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Flex"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coen_elec_390_project_winter_2023"
        tools:replace="android:label"
        tools:targetApi="33">
        <activity
            android:name=".Dashboard.PatientAppointments"
            android:exported="false"
            android:parentActivityName=".Dashboard.SplashActivity"/>
        <activity
            android:name=".Dashboard.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Dashboard.BluetoothConnectionActivity"
            android:parentActivityName=".Dashboard.SplashActivity"></activity>
        <activity
            android:name=".Dashboard.BluetoothReadingsActivity"
            android:exported="false"
            android:parentActivityName=".Dashboard.SplashActivity"></activity>
        <activity
            android:name=".Dashboard.DoctorDashboard"
            android:parentActivityName=".Dashboard.SplashActivity"></activity>
        <activity
            android:name=".Dashboard.DoctorProfileActivity"
            android:parentActivityName=".Dashboard.SplashActivity"></activity>
        <activity
            android:name=".Dashboard.DoctorAddPatient"
            android:parentActivityName=".Dashboard.SplashActivity"></activity>
        <activity
            android:name=".Dashboard.ListOfPatientsActivity"
            android:parentActivityName=".Dashboard.SplashActivity"></activity>
        <activity
            android:name=".Login.LoginActivity"
            android:parentActivityName=".Dashboard.SplashActivity"></activity>
        <activity
            android:name=".SignUp.PatientSignUpActivity"
            android:parentActivityName=".Dashboard.SplashActivity"></activity>
        <activity
            android:name=".SignUp.SignUpOptionsActivity"
            android:parentActivityName=".Dashboard.SplashActivity"></activity>
        <activity
            android:name=".SignUp.DoctorSignUpActivity"
            android:parentActivityName=".Dashboard.SplashActivity"></activity>
        <activity
            android:name=".Dashboard.PatientContractTest"
            android:parentActivityName=".Dashboard.PatientDashboard"></activity>
        <activity
            android:name=".Dashboard.PatientDashboard"
            android:parentActivityName=".Dashboard.SplashActivity"></activity>
        <activity
            android:name=".Dashboard.ResultsActivity"
            android:parentActivityName=".Dashboard.SplashActivity"></activity>
        <activity
            android:name=".Dashboard.PatientInstructionsActivity"
            android:parentActivityName=".Dashboard.PatientDashboard"></activity>
        <activity
            android:name=".Dashboard.PatientProfileActivity"
            android:parentActivityName=".Dashboard.SplashActivity"></activity>
        <activity
            android:name=".Dashboard.PatientRestTest"
            android:parentActivityName=".Dashboard.PatientDashboard"></activity>
        <activity
            android:name=".Dashboard.PrivacyActivity"
            android:parentActivityName=".Dashboard.SplashActivity"></activity>
        <activity
            android:name=".Dashboard.RequestAppointmentActivity"
            android:parentActivityName=".Dashboard.SplashActivity"></activity>
        <activity
            android:name=".Dashboard.SplashActivity"
            android:parentActivityName=".Dashboard.HomeActivity"></activity>
        <activity
            android:name=".Dashboard.BluetoothAsyncTask"
            android:parentActivityName=".Dashboard.HomeActivity"></activity>
        <activity
            android:name=".Dashboard.MyDataActivity"
            android:parentActivityName=".Dashboard.ListOfPatientsActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>