<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coen_elec_390_project_winter_2023"
        tools:replace="android:label"
        tools:targetApi="33">

        <activity
            android:name=".Dashboard.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".Dashboard.BluetoothConnectionActivity"
            android:parentActivityName=".Dashboard.SplashActivity">
        </activity>

        <activity
            android:name=".Dashboard.BluetoothReadingsActivity"
            android:exported="false"
            android:parentActivityName=".Dashboard.SplashActivity">
        </activity>

        <activity
            android:parentActivityName=".Dashboard.SplashActivity"
            android:name=".Dashboard.DoctorDashboard">
        </activity>


        <activity
            android:parentActivityName=".Dashboard.SplashActivity"
            android:name=".Dashboard.DoctorProfileActivity">
        </activity>

        <activity
            android:parentActivityName=".Dashboard.SplashActivity"
            android:name=".Dashboard.DoctorAddPatient">
        </activity>

        <activity
            android:parentActivityName=".Dashboard.SplashActivity"
            android:name=".Dashboard.ListOfPatientsActivity">
        </activity>


        <activity
            android:parentActivityName=".Dashboard.SplashActivity"
            android:name=".Login.LoginActivity">
        </activity>


        <activity
            android:parentActivityName=".Dashboard.SplashActivity"
            android:name=".SignUp.PatientSignUpActivity">
        </activity>

        <activity
            android:parentActivityName=".Dashboard.SplashActivity"
            android:name=".SignUp.SignUpOptionsActivity">
        </activity>

        <activity
            android:parentActivityName=".Dashboard.SplashActivity"
            android:name=".SignUp.DoctorSignUpActivity">
        </activity>

        <activity
            android:name=".Dashboard.PatientContractTest"
            android:parentActivityName=".Dashboard.PatientDashboardActivity" >
        </activity>

        <activity
            android:parentActivityName=".Dashboard.SplashActivity"
            android:name=".Dashboard.PatientDashboard">
        </activity>

        <activity
            android:parentActivityName=".Dashboard.SplashActivity"
            android:name=".Dashboard.PatientDashboardActivity">
        </activity>

        <activity
            android:name=".Dashboard.PatientInstructionsActivity"
            android:parentActivityName=".Dashboard.PatientDashboard" >
        </activity>
        <activity
            android:name=".Dashboard.PatientInstructionsStep1"
            android:parentActivityName=".Dashboard.PatientDashboard" >
        </activity>
        <activity
            android:name=".Dashboard.PatientInstructionsStep2"
            android:parentActivityName=".Dashboard.PatientDashboard" >
        </activity>
        <activity
            android:name=".Dashboard.PatientInstructionsStep3"
            android:parentActivityName=".Dashboard.PatientDashboard" >
        </activity>
        <activity
            android:name=".Dashboard.PatientInstructionsStep4"
            android:parentActivityName=".Dashboard.PatientDashboard" >
        </activity>
        <activity
            android:name=".Dashboard.PatientInstructionsStep5"
            android:parentActivityName=".Dashboard.PatientDashboard" >
        </activity>

        <activity
            android:parentActivityName=".Dashboard.SplashActivity"
            android:name=".Dashboard.PatientProfileActivity">
        </activity>

        <activity
            android:name=".Dashboard.PatientRestTest"
            android:parentActivityName=".Dashboard.PatientDashboardActivity" >
        </activity>

        <activity
            android:parentActivityName=".Dashboard.SplashActivity"
            android:name=".Dashboard.PrivacyActivity">
        </activity>

        <activity
            android:parentActivityName=".Dashboard.SplashActivity"
            android:name=".Dashboard.RequestAppointmentActivity">
        </activity>

        <activity
            android:parentActivityName=".Dashboard.HomeActivity"
            android:name=".Dashboard.SplashActivity">
        </activity>

        <activity
            android:parentActivityName=".Dashboard.HomeActivity"
            android:name=".Dashboard.BluetoothAsyncTask">
        </activity>



    </application>

</manifest>